html
body{
    height: 80%;

    /* The image used */
    background-image: url("/static/images/barchartbackground.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

} 

#sample-metadata0{
    position: absolute;
    height: 500px;
    width: 100%;
    z-index:1
}
#sample-metadata1{
    position: absolute;
    height: 500px;
    width: 100%;
    z-index:2
}


#sample-metadata2{
    position: absolute;
    visibility: hidden;
    height: 500px;
    width: 100%;
    margin: 0 auto;
    z-index:3
}
#sample-metadata3{
    position: absolute;
    visibility: hidden;
    height: 500px;
    width: 100%;
    margin: 0 auto;
    z-index:4
}
#sample-metadata4{
    position: absolute;
    visibility: hidden;
    height: 500px;
    width: 100%;
    margin: 0 auto;
    z-index:5
}