html
body{
    height: 100%;

    /* The image used */
    background-image: url("/static/images/barchartbackground.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

} 

#outerDiv{
    top: 100px;
    left: 655px;
    width: 320px;
    padding: 10px;
    margin: 0;

}
#sample_metadata0{
    display: inline-block;
    position: absolute;
    visibility: hidden;
    top: 80px;
    left: 740px;
    width: 320px;
    padding: 20px;
    border: 5px solid rgb(17, 17, 17);
    margin: 0;
    font-weight: bold;
    font-size:medium;
}
#sample_metadata1{
    display: inline-block;
    position: absolute;
    visibility: hidden;
    top: 80px;
    left: 740px;
    width: 320px;
    padding: 20px;
    border: 5px solid rgb(17, 17, 17);
    margin: 0;
    font-weight: bold;
    font-size:medium;
    
}
#sample_metadata2{
    display: inline-block;
    position: absolute;
    visibility: hidden;
    top: 80px;
    left: 740px;
    width: 320px;
    padding: 20px;
    border: 5px solid rgb(17, 17, 17);
    margin: 0;
    font-weight: bold;
    font-size:medium;
}
#sample_metadata3{
    display: inline-block;
    position: absolute;
    visibility: hidden;
    top: 80px;
    left: 740px;
    width: 320px;
    padding: 20px;
    border: 5px solid rgb(17, 17, 17);
    margin: 0;
    font-weight: bold;
    font-size:medium;
}
#sample_metadata4{
    display: inline-block;
    position: absolute;
    visibility: hidden;
    top: 80px;
    left: 740px;
    width: 320px;
    padding: 20px;
    border: 5px solid rgb(17, 17, 17);
    margin: 0;
    font-weight: bold;
    font-size:medium;
}
#g{
    font-size: 14;
    font-weight: bold ;

}

#g{
    color:rgb(255, 255, 255); 
}
