html
body{
    height: 100%;

    /* The image used */
    background-image: url("/static/images/barchartbackground.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

} 

#sample-metadata0{
    visibility: hidden;
}
#sample-metadata1{
    visibility: hidden;
}


#sample-metadata2{
    visibility: hidden;
}
#sample-metadata3{
    visibility: hidden;
}
#sample-metadata4{
    visibility: hidden;
}