html
body{
    height: 100%;

    /* The image used */
    background-image: url("/static/images/barchartbackground.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

} 

#sample_metadata0{
    display: inline-block;
    position: absolute;
    visibility: hidden;
    top: 100px;
    left: 655px;
}
#sample_metadata1{
    display: inline-block;
    position: absolute;
    visibility: hidden;
    top: 100px;
    left: 655px;
}
#sample_metadata2{
    display: inline-block;
    position: absolute;
    visibility: hidden;
    top: 100px;
    left: 655px;
}
#sample_metadata3{
    display: inline-block;
    position: absolute;
    visibility: hidden;
    top: 100px;
    left: 655px;
}
#sample_metadata4{
    display: inline-block;
    position: absolute;
    visibility: hidden;
    top: 100px;
    left: 655px;
}

