{% extends "base.html" %}

{% block customcss %}
    <link rel="stylesheet" type="text/css" href="/static/css/credits.css">
{% endblock %}

{% block title %}
    <title>Formula 1 Winners - Credits</title>
{% endblock %}

{% block main %}
<main class="container">
  <h1>Credits</h1>
  <div class="bg-light p-5 rounded">
    <p class="lead">Formula 1 data from <a style="color: #333" href="https://www.kaggle.com/rohanrao/formula-1-world-championship-1950-2020?select=results.csv">Kaggle</a></p>
    <p class="lead">Country data from <a style="color: #333" href="https://www.worldatlas.com/articles/what-is-a-demonym-a-list-of-nationalities.html">World Atlas</a></p>
    <p class="lead">Bar Chart Race <a style="color: #333" href="https://medium.com/@tarsusi/make-your-own-custom-bar-chart-race-with-d3-js-b7d6cfc4d0bd">starter code</a></p>
    <p class="lead">Photos by:<br>
      <a style="color: #333" href="https://unsplash.com/@chuttersnap?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">CHUTTERSNAP</a> on <a style="color: #333" href="https://unsplash.com/s/photos/formula-1?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a><br>
      <a style="color: #333" href="https://unsplash.com/@alberto_1963?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Alberto González Rovira</a> on <a style="color: #333" href="https://unsplash.com/s/photos/formula-1?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a><br>
      <a style="color: #333" href="https://commons.wikimedia.org/wiki/File:Lewis_Hamilton_2016_Malaysia_2.jpg">Morio</a>, <a style="color: #333" href="https://creativecommons.org/licenses/by-sa/4.0">CC BY-SA 4.0</a>, via Wikimedia Commons<br>
      <a style="color: #333" href="https://commons.wikimedia.org/wiki/File:Schumacher_china_2012_crop.jpg">emperornie on Flickr.</a>, <a style="color: #333" href="https://creativecommons.org/licenses/by/2.0">CC BY 2.0</a>, via Wikimedia Commons<br>
      <a style="color: #333" href="https://commons.wikimedia.org/wiki/File:Sebastian_Vettel_2015_Malaysia_podium_1.jpg">Morio</a>, <a style="color: #333" href="https://creativecommons.org/licenses/by-sa/4.0">CC BY-SA 4.0</a>, via Wikimedia Commons<br>
      <a style="color: #333" href="https://commons.wikimedia.org/wiki/File:Anefo_933-1302_Huub_Rothengatter,_Alain_Prost,_Niki_Lauda_29.10.1984_Prost_crop.jpg">Z105space</a>, <a style="color: #333" href="https://creativecommons.org/licenses/by-sa/3.0">CC BY-SA 3.0</a>, via Wikimedia Commons<br>
      <a style="color: #333" href="https://commons.wikimedia.org/wiki/File:Ayrton_Senna_8_(cropped).jpg">Instituo Ayrton Senna</a>, <a style="color: #333" href="https://creativecommons.org/licenses/by/2.0">CC BY 2.0</a>, via Wikimedia Commons
    </p>
  </div>
</main>
{% endblock %}
    
