{% extends "base.html" %}

{% block customcss %}
    <link rel="stylesheet" type="text/css" href="/static/css/credits.css">
{% endblock %}

{% block title %}
    <title>Formula 1 Winners - Credits</title>
{% endblock %}

{% block main %}
<main class="container">
  <h1>Credits</h1>
  <div class="bg-light p-5 rounded">
    <p class="lead">Formula 1 data from <a style="color: #333" href="https://www.kaggle.com/rohanrao/formula-1-world-championship-1950-2020?select=results.csv">Kaggle</a></p>
    <p class="lead">Country data from <a style="color: #333" href="https://www.worldatlas.com/articles/what-is-a-demonym-a-list-of-nationalities.html">World Atlas</a></p>
    <p class="lead">Photos by <a style="color: #333" href="https://unsplash.com/@chuttersnap?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">CHUTTERSNAP</a> on <a style="color: #333" href="https://unsplash.com/s/photos/formula-1?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></p>
    <p class="lead">Photos by <a style="color: #333" href="https://unsplash.com/@alberto_1963?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Alberto González Rovira</a> on <a style="color: #333" href="https://unsplash.com/s/photos/formula-1?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></p>
  </div>
</main>
{% endblock %}
    
