<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Formula 1 Winners</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ms-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link {% if request.path=='/' %}active{%endif %}" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path=='/viz1' %}active{%endif %}" href="/viz1">Top 5</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path=='/viz2' %}active{%endif %}" href="/viz2">"Racing" Chart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path=='/viz3' %}active{%endif %}" href="/viz3">Map</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
